.slideshow-containerb {
  max-width: 1000px;
  position: relative;
  margin: auto;
  max-height: 40%;
}

/* Hide the images by default */
.mySlidesb {
  display: none;
  max-height: 100%;
}

/* nextb & prevbious buttons */
.prevb,
.nextb {
  cursor: pointer;
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
  font-weight: 800;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;

  user-select: none;
}

/* Position the "nextb button" to the right */
.nextb {
  right: 0;
  border-radius: 3px 0 0 3px;
  border-radius: 50%;
}
.prevb {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prevb:hover,
.nextb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* The dot2s/bullets/indicators */
.dot2 {
  cursor: pointer;
  color: white;
  position: relative;
  top: 1rem;
  text-align: center;

  margin: 0 2px;
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid white;
  align-content: center;
  margin-bottom: 3rem;

  width: fit-content;
  padding: 0.5rem 1rem;
  height: 2rem;

  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot2:hover {
  background-color: #f08310;
}
