* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0);
  /* thumb and track color */
  scrollbar-width: thin;
}
.body {
  overflow: hidden;
}

.landing {
  position: relative;

  width: 100%;
  height: 99vh;
  overflow-x: hidden;
  /* z-index: -; */
  background: linear-gradient(
    101.52deg,
    rgba(102, 48, 189, 0.8) 14.63%,
    rgba(13, 56, 166, 0.8) 60.61%,
    rgba(22, 84, 242, 0.8) 73.56%,
    rgba(217, 44, 107, 0.8) 100.35%
  );
}
.imagecorousel {
  position: absolute;

  top: 0;
  width: 100vw;
  height: 65vh;
}
/* .imagecorousel img {
  z-index: -1;
} */
.imagecorousel .icon {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem 5rem;
  width: 8rem;
  transform-origin: 50% 50%;
  z-index: 3;
}
.imagecorousel .robotimage {
  position: absolute;

  right: calc(25% - 72px);
  bottom: -18%;
  margin: 2rem 5rem;
  width: 9rem;
  z-index: 2;
  transform-origin: 50% 50%;
}

.robot {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 35vh;
  background: #242289;
}

.robot .robotbottom {
  position: absolute;
  top: -18%;
  right: calc(25% - 220px);
  height: 15rem;
}

.subheading {
  font-weight: 900;
  margin: 1rem 0rem 1rem 0rem;
  color: #fff;
  font-size: 2.5rem;
}

.additionalinfo {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #fff;
}

.robot span {
  width: max-content;
  font-family: "Roboto", sans-serif;

  align-self: center;
}

.robot .additionalinfo {
  margin: 2rem 1rem 1rem 0rem;
  max-width: 70%;
}

.secondland {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -2rem;
  height: 30vh;
  width: 100%;
  background-color: #242289;
  text-align: center;
  height: 30vh;
}

.cards {
  color: #fff;
  width: 100vw;
  height: 13rem;
  position: absolute;
  top: 0;
  display: flex;
  padding: 1rem 3rem;
  justify-content: center;
  align-items: center;
  align-content: left;
  margin-bottom: 3rem;
  overflow: hidden;
}

.smallcard {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: start;
  align-items: start;
  width: 25%;
  max-width: 10rem;
  height: 12rem;
  padding-left: 0.5rem;
  min-width: 10rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1rem 0.5rem;
}

.smallcard:hover {
  transform: scale(1.05);
}

.representingicon svg {
  max-width: 3rem;
}

.carddescription {
  max-width: 80%;
  text-align: left;
  font-weight: 400;
  font-size: 0.9rem;
}

.goarrow {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 0.5rem;
  color: rgba(240, 131, 16, 1);
  margin-bottom: 1rem;
}

.fourthinfo {
  max-width: 80%;
  align-self: center;
}

/* .basicgrid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(autofit, minmax(4rem, 1fr));
} */

.companylogos {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smalllogo {
  max-width: 15%;
}

.smalllogo img {
  max-width: 100%;
}

.button-wrap a.button {
  display: inline-block;
  max-width: 15rem;
  padding: 0rem 1rem;
  height: 3rem;
  margin: 0rem 5%;
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 2rem;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.button-wrap a.active {
  background-color: #f08310;
}

.button-wrap a:hover {
  background-color: #f08310;
}

.content {
  margin-top: 30px;
}

div[class*="content-"] {
  display: none;
}

.content .active {
  display: block;
}

.land {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -2rem;
  overflow-x: hidden;

  height: 30vh;
  width: 100%;
  background-color: #242289;
  text-align: center;
}
.fourthland {
  background: #1d1b6e;
}
.fifthland {
  height: min-content;
}

.sixthland {
  padding: 5% 10%;
  background: #242289;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.sixthland img {
  position: absolute;
  left: 0;

  max-width: 30%;
}

.seventhland {
  background: rgba(29, 27, 110, 1);
  width: 100%;
  height: min-content;
  padding: 20px;
  margin: 0 auto;
  padding: 0 60px 0 0;
}

.question {
  position: relative;
  background: #1d1b6e;
  color: white;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 1.1rem;
  cursor: pointer;
}

.answers {
  z-index: 7;
  font-weight: 300;

  background: #242289;
  color: #fff;
  padding: 0px 15px;
  margin: 0;
  max-height: 0;
  overflow: hidden;

  position: relative;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
}

.questions:checked ~ .answers {
  max-height: 500px;
  opacity: 1;
  padding: 15px;
}

.questions:checked ~ .question {
  background: #242289;
}

.questioning {
  border-bottom: 1px dotted white;
  border-top: 1px dotted white;
}

.plus {
  position: absolute;
  color: #f08310;

  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
  border: 1px dotted white;
}

.questionaire {
  align-self: center;
  max-width: 80%;
  margin: 2rem;
  margin-bottom: 4rem;
}

.eighthland {
  display: flex;
  position: relative;
  background: #242289;
  height: 70vh;
}
.siderobo {
  position: absolute;
  margin: 2rem 5rem;
}

.siderobo img {
  max-height: 28rem;
}

.totalform {
  background: linear-gradient(88.4deg, #121058 51.36%, #69018d 106.01%);
  margin: 3rem 5rem;
  height: 37rem;
}
.subsubheading {
  margin: 1.5rem 0rem 0.5rem 0rem;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.additionalsubinfo {
  color: #fff;
  position: absolute;
  left: 30%;
  text-align: center;

  max-width: 40%;
  align-self: center;
  font-weight: 300;
  font-size: 0.7rem;
}

.thirdland {
  height: min-content;
}
.featuring {
  width: 80%;
  align-self: center;
  margin-bottom: 2rem;
  background: #242289;
}
.content .active {
  background: transparent;
}

.productcontainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}
.featuring {
  background: transparent;
}

/* .productimage {
  max-width: 40%;
} */
.productimage img {
  max-width: 100%;
}

.productnumber {
  position: absolute;
}

.productinfo {
  /* position: absolute;
  top: 50%;
  left: 60%; */
  margin: 3rem 5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  z-index: 4;
}
.productright {
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.productinfo h1 {
  color: white;
  font-weight: 800;
}
.productinfo h5 {
  max-width: 90%;
  color: white;
  font-weight: 300;
}
.productbuttons {
  display: flex;
}
.productbuttons button {
  font-weight: 500;
  outline: none;
  z-index: 3;
  width: 12rem;
  height: 2.5rem;
  border-radius: 1rem;
  margin-left: 2rem;

  color: rgba(36, 34, 137, 1);
  background-color: #ffffff;
}

.ninth {
  height: 20vh;
}

.fotter {
  width: 80%;
  color: white;
  padding: 4rem 3rem;
}

.fotter img {
  max-width: 6rem;
  margin-right: 2rem;
}

.leftie,
.rightie {
  display: flex;
  position: absolute;
  font-weight: 300;

  font-size: 0.8rem;
}
.fotter span {
  margin-right: 2rem;
}

.leftie {
  left: 0;
}

.rightie {
  right: 0;
}
.bordering {
  position: relative;
  top: 4rem;

  border-top: 1px dotted rgba(255, 255, 255, 0.507);
  width: 200%;
}

.bot {
  position: absolute;
  padding-top: 3rem;
  bottom: 0;
}
@media only screen and (max-width: 1150px) {
  .productcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .eighthland {
    display: none;
  }

  .button-wrap a.button {
    margin: auto;
  }
}
